.infoCardHeadline {
    font-family: Bold;
    font-size: 2.25rem;
    font-weight:bold;
    color: rgb(0, 0, 0);
    border: 2px solid black;
    padding: 0px;
    max-width: 1260px;
    margin: 0px;
}


.infoCardCallActionContainer :global(.vtex-button) {
    color: white;
    background-color: gray;
    border: transparent;
    max-width: 1260px;
  }


.infoCardCallActionContainer :global(.vtex-button):hover {
    color: gray;
    background-color: rgb(255, 255, 255);
    border: transparent;
    
}


  .infoCardContainer--metal{
    background-color:  #e1e1e1;

  }

  .infoCardContainer--vintage {
    background-color: #edcfd1;
  }

  .infoCardContainer--info-card-example{
     border: 1px, solid 1px,
     

  }
